.book-preview {
   text-align: center;
   padding: 0.5em;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.book-preview h4 {
   text-transform: capitalize;
   color: black;
}

.book-preview img {
   max-width: 50px;
}
.book-preview .on-sale {
   position: absolute;
   top: 0;
   right: 0;
   max-width: 35px;
}

.book-preview .expensive {
   color: red;
}

.book-preview .cheap {
   color: green;
}

.book-preview li {
   font-size: medium;
}
